<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91650049904-uqpgt0ppncsvk9go3afopns3djdcj2rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91650049904-uqpgt0ppncsvk9go3afopns3djdcj2rl</string>
	<key>API_KEY</key>
	<string>AIzaSyAJDXcbQRIYr6lcgXZLjZ8rrxQhOSh_op0</string>
	<key>GCM_SENDER_ID</key>
	<string>91650049904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.paulokucher.RATest</string>
	<key>PROJECT_ID</key>
	<string>nextcard-c1d66</string>
	<key>STORAGE_BUCKET</key>
	<string>nextcard-c1d66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:91650049904:ios:3a7f19c11943476b3e71b5</string>
	<key>DATABASE_URL</key>
	<string>https://nextcard-c1d66.firebaseio.com</string>
</dict>
</plist>
